# MATLAB .asv files
*.asv

# Various plot images
*.pdf
*.jpg
*.png

# Python extra files
*.pyc
*.ipynb_checkpoints

# Specific PDE output subdirectory
differential_equations/pde/plots/

# PyCharm metadata
.idea/

# ABM Output
agent_based_models/abm_conjugation_simple/runs/
agent_based_models/abm_conjugation_krone/runs/
agent_based_models/abm_allelopathy/runs/

biophysics_meanfield/data/

population_genetics/simulate - time - testing.py
population_genetics/simulate - time.py

transcriptome_clustering/rawdata/
transcriptome_clustering/documentation/

nonequilibrium/runs/

# Celltypes IO
celltypes/singlecell/runs/
celltypes/multicell/runs/
celltypes/multicell/stored/
celltypes/dataprocess/runs/
celltypes/cytokine/runs/
celltypes/input/2018_scMCA/
celltypes/venv/

oncogenesis_dynamics/output/

transcriptome_clustering/output/
oncogenesis_dynamics/figures/

RBM/data/MNIST/
RBM/output/logZ/
RBM/output/archive/big_runs/
RBM/output/training/
RBM/output/AIS_testing/
RBM/output/samples/
RBM/models/hopfield_weights.npy
RBM/models/poe/
RBM/models/saved/hopfield_mnist_*_*
RBM/output/recall/
RBM/output/reversemap/
