# MATLAB .asv files
*.asv

# MATLAB plot images
*.jpg

# Python compiled scripts
*.pyc

# Specific PDE output subdirectory
differential_equations/pde/plots/

# PyCharm metadata
.idea/

# ABM Output
agent_based_models/abm_conjugation_simple/runs/
agent_based_models/abm_conjugation_krone/runs/
agent_based_models/abm_allelopathy/runs/
